<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap2.min.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='glyphicon.css') }}">
    <title>Hello, Pybo!</title>
</head>
<body>
  {% include "navbar.html" %}
  {% block content %}
    
  {% endblock %}
  <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}" ></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" ></script>
  {% block script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $(".delete").on("click", function(){
        if(confirm("정말로 삭제하시겠습니까?")){
          location.href = $(this).data("uri");
        }
      });
      
      $(".recommend").on("click", function(){
        if(confirm("정말로 추천하시겠습니까?")){
          location.href = $(this).data("uri");
        };
      });

      
    });
    </script>
  {% endblock%}
</body>
</html>